.section {
  font-size: 20px;
  text-align: center;
}

/* About Me */

#picture_frame {
  background-image: url("images/photo.jpg");
  width: 200px;
  height: 200px;
  border: 3px solid white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#about_me_ {
  background-image: url("images/workspace1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#about_me_container {
  border: 3px solid white;
  border-radius: 10px;
  background-color: black;
  width: 860px;
  height: 115px;
  margin: 0 auto;
  padding: 10px;
}

#about_me_content {
  color: white;
  text-align: center;
  font-size: 30px;
}


/* MENU */

#myMenu li {
  display:inline-block;
  margin: 10px;
  color: #000;
  background:#fff;
  background: rgba(255,255,255, 0.5);
  -webkit-border-radius: 10px;
            border-radius: 10px;
}
myMenu li.active{
  background:#666;
  background: rgba(0,0,0, 0.5);
  color: #fff;
}
#myMenu li a{
  text-decoration:none;
  color: #000;
}
#myMenu li.active a:hover{
  color: #000;
}
#myMenu li:hover{
  background: rgba(255,255,255, 0.8);
}
#myMenu li a,
#myMenu li.active a{
  padding: 9px 18px;
  display:block;
}
#myMenu li.active a{
  color: #fff;
}
#myMenu{
  position:fixed;
  top:0;
  left:0;
  height: 40px;
  z-index: 70;
  width: 100%;
  padding: 0;
  margin:0;






